.App{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  height: 100vh;
  font-size: 25px;
}
* ,::after,::before{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}